--protected
--private
--output-dir doc/
--markup markdown
--markup-provider commonmarker
-
--main README.md
LICENSE.txt
pages/INSTALL.md
pages/FEATURES.md
pages/EXAMPLES.md
pages/CHANGELOG.md
.gitlab/CONTRIBUTING.md
